@import "normalize";
@import "bootstrap";
@import "boilerplate_normalize";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700|Merriweather:400,400italic,900,900italic);


body {
  /*background-color:$brand-primary;*/
  background-color:$body-bg;
  text-shadow: none !important;
  }
  
.container {
  padding: 0 !important; 
  }
  
a:hover {
  text-decoration: underline;
  }  
  
h1, h2, h3, h4{  
  line-height: 1.25em;
  a { color: $brand-primary; } 
  a:hover { 
    color: $link-color;
    } 
  }

.dropdown-menu {
  min-width:120px;
  padding:8px 0;
  
  > li > a {
    padding: 3px 15px;
    }
    
  > li > a:hover {
    background: 0;
    text-decoration: underline;
    } 
  }  
  
.nav-chrome {
  margin-bottom:-5px;
  padding-top: 30px;
  
  .dropdown-menu {
    top:32px;
    left:30px;
    }
  
  }

.nav-tabs {
    border-bottom: 0;
    
    li a {
      border: 0;
    }
    
    li a:hover {
    background: 0;
    text-decoration: underline;
    } 
  }
    
    
.main-page {
  min-height:300px;
  background-color:#fff;
  border: 1px solid $body-border;
  border-radius: 5px;

  }
  
.row.main-page {
  padding-top: 60px;
  padding-bottom: 60px;
  }
  
.marketing {
  padding-top: 0px; 
  margin-top: 15px; 
  margin-bottom:30px;
  padding: 45px 0 15px 0;
  border: $emphasis-border;
  img {
    margin: 10px 20px 0 0;
    width: 180px;  
    } 
  h1 {
    font-size: 42px;
    line-height: 1.2em;
    font-style: italic;
    padding-right: 180px;
    } 
  p {margin: 30px 0;} 
  }
  


.right-align {
  text-align: right !important;
  }

.footer {
  min-height: 200px;  
  padding:15px 0 60px 0;  
  
  h3 {
    color:$dark-paper;
    font-style: italic;
    margin-top: 0px;
    padding-top: 9px;
    }
    
  img {float: left; margin-right: 12px;
  }
  
  li {
  float: left;
  padding-right:30px;
  line-height: 1.5em;
  }
  
  ol {padding-top:5px;}
  
  }
  
.btn-default {
 height: 34px;
  }
  
.input-group-btn {
  .btn-default {
    border: 0 !important;
    margin-top:-1px;
  }
  }




  
input {font-style: italic;}

.big-search {
  height: 60px;
  margin-bottom:60px;
  font-size: 24px
  }
  
button.big-search.btn {
  width:60px;
  }

.main-page {
  padding: 30px 0;
  }

.item-brick {  
  padding: 10px 0;
  border-top: $emphasis-border;  
  .item-thumb { 
    margin: 10px  15px 20px 0;
    width: 80px;
    }
  h4, h3 {margin-bottom: 4px;}
  clear:both;
  
  h3 {margin-top: 12px;}
  
  }
  
.media-icons {
  img {
    width: 30px;
    float: left;
    margin: 12px 3px 0px 0px;
    }
  position: absolute;
  right: 0px;
  }
  
.item-text {
  padding-left: 100px;
  }

.title {
  font-style: italic;} 
 
.event-stats {
/*     text-transform: uppercase; */
  color: $dark-paper;
  margin-bottom: 2px;
  font-style: italic;
  }
  
 
.tag {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 0.85em;
  }
  
.sidebar-module {
  
  .item-brick {  
  padding: 10px 0;
  border-top: $emphasis-border;  
  .item-thumb { 
    margin: 10px  15px 20px 0;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    }
  clear:both;
  }
  
  .item-text {
  padding-left: 0;
  }
  
  }
  
.start {

  h2 {
    float:left;
    }
  
  .tag {
    float:right;
    margin: 29px 0 0 12px;
    }
  
  }
  
.item-brick.skinny {
  padding:0;
  h4 {
    margin: 12px 0 0px 0;
    }    
    h4 a {
    color: $dark-paper;
    }
  .viewmore {padding: 10px 0;}
  }    
  
.sidebar-module {
  margin-top: 40px;
  margin-bottom: 20px;
  }
  
h2 {
  font-size: 24px;
  }
  
  
h5 {
  text-transform: uppercase;
  font-family: $font-family-sans-serif;
  font-size: 13px;
  color: $brand-primary;
  }

.col-sm-6 h2 { /* Homepage divided column man section */
  margin-bottom: 15px;
  }
  
.panel {
  -webkit-box-shadow: 0 !important; 
  box-shadow: 0 !important; 
  }

.panel-heading {
  background: $page-bg;
  border: 0;
  
  
  h5 {font-size: 16px;
        padding-top: 6px;
  }
  
  
  a {
    color: #000;
    margin-left: -15px;

    }
    
    a:hover, a:focus {
    color: $link-color;
    }
  
  }
  
.panel-collapse {
  background-color: $light-paper;
/*   border: $emphasis-border; */
  }
  
.catalog-results {
  padding-top: 15px;
  }
  
.start {}



@media (min-width: $screen-md-min) {  
  .visible-sm {
    display: none !important;
    }
  .hidden-sm {
    display: block !important;
    }
  }

@media (max-width: $screen-sm-max) {  
  .visible-sm {
    display: block !important;
    }
  .hidden-sm {
    display: none !important;
    }
  }

//
// Modals
// --------------------------------------------------

// .modal-open      - body class for killing the scroll
// .modal           - container to scroll within
// .modal-dialog    - positioning shell for the actual modal
// .modal-content   - actual modal w/ bg and corners and shit

// Kill the scroll on the body
.modal-open {
  overflow: hidden;
}

// Container that the modal scrolls within
.modal { 

  p {
    margin: 0;
    padding: 0;
    text-indent: 30px;
    font-family: $font-family-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: justify;
    letter-spacing: .025em;
    }
    
  .btn.btn-default {
    color: $gray-dark;
    background-color: $page-bg;
    border-color: $gray-lighter;
    }
    
  .btn.btn-default:hover {
    color: $link-color;
    background-color: lighten($light-paper, 95%);
    border-color: $gray-lighter;
    }
    
  .reader-title {
    color: $gray-light;
    }
  
  }

// Shell div to position the modal with bottom padding
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
  max-width: 1140px;
}

.reader-icon {
  width: 20px;
  margin-right: 4px;
  }


// Modal body
// Where all modal content resides (sibling of .modal-header and .modal-footer)
.modal-body {
  -moz-column-count:2; /* Firefox */
  -webkit-column-count:2; /* Safari and Chrome */
  column-count:2;
  -moz-column-gap:45px; /* Firefox */
  -webkit-column-gap:45px; /* Safari and Chrome */
  column-gap:45px;  
  overflow: hidden;
  position: relative;
  padding: $modal-inner-padding;
  background-color: $light-paper;
  
  @media (max-width: $screen-md-min) {
    -moz-column-count:1; /* Firefox */
  -webkit-column-count:1; /* Safari and Chrome */
  column-count:1;
  }

}

// Footer (for actions)
.modal-footer {
  margin-top: 0;
  padding: $modal-title-padding;
  text-align: right; // right align buttons
  border-top: 1px solid $modal-footer-border-color;
  @include clearfix(); // clear it in case folks use .pull-* classes on buttons

  // Properly space out buttons
  .btn + .btn {
    margin-left: 5px;
    margin-bottom: 0; // account for input[type="submit"] which gets the bottom margin like all other inputs
  }
  // but override that for button groups
  .btn-group .btn + .btn {
    margin-left: -1px;
  }
  // and override it for block buttons as well
  .btn-block + .btn-block {
    margin-left: 0;
  }
}

// Scale up the modal
@media (min-width: $screen-sm-min) {

  // Automatically set modal's width for larger viewports
  .modal-dialog {
    width: $modal-md;
    margin: 30px auto;
  }
  .modal-content {
    @include box-shadow(0 5px 15px rgba(0,0,0,.5));
  }

  // Modal sizes
  .modal-sm { width: $modal-sm; }
  .modal-lg { width: $modal-lg; }

}
